/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body,
html {
    height: 100%;
    width: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Everforest Dark Soft Palette */
/* Color Palette and Size variables */
/* I got the colors out from the picture in the root called dark-soft.png */
:root {
    /* Background colors */
    --bg-dim: #293136;
    --bg0: #333C43;
    --bg1: #3A464C;
    --bg2: #434F55;
    --bg3: #4D5960;
    --bg4: #555F66;
    --bg5: #5D6B66;

    /* Specific color names for easier identification */
    --bg-red: #5C3F4F;
    --bg-visual: #59464C;
    --bg-yellow: #55544A;
    --bg-green: #48584E;
    --bg-blue: #3F5865;

    /* Foreground and accent colors */
    --red: #E67E80;
    --orange: #E69875;
    --yellow: #DBBC7F;
    --green: #A7C080;
    --blue: #7FBBB3;
    --aqua: #83C092;
    --purple: #D699B6;

    /* Status line colors */
    --statusline1: #A7C080;
    --statusline2: #D3C6AA;
    --statusline3: #E67E80;

    /* Grayscale colors */
    --gray0: #7A8478;
    --gray1: #859289;
    --gray2: #9DA9A0;

    /* Common foreground color */
    --fg: #D3C6AA;

    /* Text color */
    --text: #293136;

    /* Font sizes */
    --text-size-desktop: 18px;
    --text-size-mobile: 16px;

    /* Dot side size (The base unit for the layout) */
    --dot-size: 10px;
    --cube-max-size: 10px;
    --cube-min-size: 10px;
}

/* Font */
/* To change it, just download a new one from google fonts, replace the files in the font folder and change the name of the file down here  */
@font-face {
    font-family: 'cantarell';
    src: URL('./font/Cantarell-Regular.ttf') format('truetype');
}

body {
    font-family: 'cantarell', sans-serif;
    background-color: var(--bg-dim);
    color: var(--text);
    position: relative;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    position: relative;
    padding: calc(6 * var(--dot-size));
    gap: calc(2 * var(--dot-size))
}

.calendar-container {
    width: calc(40% - var(--dot-size));
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.color-box__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: var(--dot-size);
    width: 100%;
}

.color-box {
    width: var(--dot-size);
    height: var(--dot-size);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.events {
    background-color: var(--fg);
    width: 100%;
    flex-grow: 1;
    border-radius: var(--dot-size) var(--dot-size) 0 0;
}

.picture-container {
    width: 100%;
    height: auto;
}

.picture-container img {
    width: 100%;
    height: auto;
    border-radius: 0 0 var(--dot-size) var(--dot-size);
}

.links-container {
    width: calc(60% - var(--dot-size));
    height: 100%;
    position: relative;
}

.links-page {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: var(--dot-size);
    width: calc(100% - 4 * var(--dot-size));
    height: 100%;
    gap: var(--dot-size);
    border-radius: var(--dot-size);
    background-color: var(--fg);
    z-index: 0;
    transition: z-index 0.2s ease;
    padding: var(--dot-size);
}

.page-interior-container {
    border: 2px solid;
    border-radius: var(--dot-size);
    position: relative;
    height: 100%;
    width: 100%;
    padding-left: calc(6 * var(--dot-size));
}

.page-interior-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(6 * var(--dot-size));
    height: 100%;
    z-index: 0;
    border-right: 6px double;
    border-color: inherit;
}


#page-0 {
    z-index: 1;
}

#page-0:hover {
    z-index: 2;
}

#page-1:hover {
    z-index: 2;
}

#page-2:hover {
    z-index: 2;
}

#page-3:hover {
    z-index: 2;
}

#page-4:hover {
    z-index: 2;
}

#page-5:hover {
    z-index: 2;
}


.index-tab {
    position: absolute;
    display: flex;
    right: calc(-4 * var(--dot-size));
    height: calc(6 * var(--dot-size));
    border-radius: 0 var(--dot-size) var(--dot-size) 0;
    width: calc(5 * var(--dot-size));
    justify-content: center;
    align-items: center;
    padding: var(--dot-size) var(--dot-size) var(--dot-size) calc(1.5 * var(--dot-size));
}

#index-tab-0 {
    top: calc(2 * var(--dot-size));
}

#index-tab-1 {
    top: calc(9 * var(--dot-size));
}

#index-tab-2 {
    top: calc(16 * var(--dot-size));
}

#index-tab-3 {
    top: calc(23 * var(--dot-size));
}

#index-tab-4 {
    top: calc(30 * var(--dot-size));
}

#index-tab-5 {
    top: calc(37 * var(--dot-size));
}

.index-tab-icon {
    width: 100%;
    height: auto;
}

.links-page-header {
    display: flex;
    align-items: center;
    gap: var(--dot-size);
    padding: calc(4 * var(--dot-size));
    width: 100%;
    border-bottom: 2px solid;

}

.links-page-icon {
    height: 24px;
    width: auto;
}

.links-page-title {
    font-size: 24px;
    font-weight: bold;
}

.links-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    height: 70%;
}

.link-item {
    display: flex;
    /* Flex layout for icon and text */
    align-items: center;
    /* Align icon and text vertically */
    gap: 10px;
    /* Space between icon and text */
    text-decoration: none;
    /* Remove underline for links */
    color: inherit;
    /* Use inherited text color */
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.link-item:hover {
    background-color: var(--bg3);
    /* Highlight link on hover */
}

.link-icon {
    width: 32px;
    /* Icon size */
    height: 32px;
}

.link-text {
    font-size: 14px;
    /* Adjust text size */
    line-height: 1.2;
}

/* .link-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    position: relative;
    max-height: var(--cube-max-size);
}

.link-item:hover {
    background-color: var(--fg);
    border-radius: 5px 0 0 5px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: var(--cube-max-size);
    max-width: var(--cube-max-size);
    height: var(--dot-size);
    width: var(--dot-size);
    min-width: var(--cube-min-size);
    min-height: var(--cube-min-size);
    border-radius: 5px;
    padding: 3px
}

.icon-container .icon {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.link-item .link-text {
    background-color: var(--fg);
    color: var(--text);
    max-height: var(--cube-max-size);
    min-height: var(--cube-min-size);
    height: var(--dot-size);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    min-width: calc(var(--cube-min-size) * 6);
    padding-left: 20px;
} */

/* if less than 768px */
@media screen and (max-width: 1024px) {}

/* if less than 480px */
@media screen and (max-width: 480px) {
    /* .link-item .link-text {
        min-width: calc(var(--cube-min-size) * 3.5);
        height: var(--cube-min-size);
        font-size: 12px;
        padding-left: 5px;
    } */
}